* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-list {
  display: flex;
  justify-content: center;
  gap: 2rem;
  list-style: none;
  font-size: 1.8em;
  background-color: orange;
  padding: 0.6rem;
}

a {
  text-decoration: none;
  color:black
}

.footer {
  display: flex;
  justify-content: center;
}

.footer-link {
  margin: .5em;
  color: orange;
  font-size: 1.2em;
  padding: 1.4em;
}


@media (prefers-color-scheme:dark) {
  body {
      background-color: black;
      color: white;
  }

  .table {
      color: white;
  }

  thead {
      background-color: green;
  }

  tbody tr:hover {
      background-color: rgb(152, 151, 151);
  }

  thead th:hover {
      color:gray;
  }

  thead th.active {
      color:green;
  }

  thead th.active {
      color: white;
  }

  tbody td.active {
      color: green;
  }

}